
@import "colors";
@mixin cds ($height,$width,$padding){
    height: $height;
    width: $width;
    padding: $padding;
}

body{
    background-color:$bgcolor;
    section{
        background-color: $bgcolor;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        justify-content:space-around;
        padding: 1.5rem;
        margin: 1.5rem;
            div{
                margin: .5rem; 
                padding: .5rem;
            }
            .cdFundamentalistas{
                margin: .3rem;
                padding: .3rem;
            }
    }
    
    .imagenInicio1{
        float: right;
        margin: 1rem;
        border: solid #000000;
    }
    .imagenInicio2{
        float: left;
        margin:1rem;
        overflow: hidden;
        border: solid #000000;
        position: relative;
            bottom: .5rem;
    }
    .parrafos{
                word-spacing: 5px;
                letter-spacing: 1px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                margin:20px;
                }
    .tamanoCarusel{
        width: 65%;
        margin: 0 auto;
        padding: 2rem;
    }
    .iframe1{
        position: relative;
        left: 28%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .discos{
        @include cds ($tamano*4,$tamano*3,$padding)
    }
    .disco5{
        width: $tamano*3;
        height: $tamano*4;
        margin-top: 10px;
        padding: 1rem;
    }
    .canciones{
        width: 300px;
    }
    .canciones1{
        width: 200px;
    }
    .canciones5{
        width: 350px;
        position: absolute;
        top: 191%;
        left: 27%;
    }
    .canciones10{
        position: relative;
        left: 15px;
    }
    .listasDiscos{
        list-style:decimal;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 1.5rem;
    }
    .listasDiscos1{
        list-style:decimal;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: .5rem;
    }
    .cds{
        @include cds ($tamano*3,$tamano*3,$padding/2)
    }
    .cd10{
        width: $tamano*3;
        height: $tamano*3;
        position: relative;
        left: 22px;
        padding: .5rem;
    }
    .seccionContacto{
        margin: 0px;
    }
    .formulario1{
        margin: 0 auto;
        width: 55vh;
        position: relative;
        right: 5%;
    }
    .formulario1 div{
        margin: .5rem;
        color:#000000;
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        width: 1.5rem;
    }
    .input{
        width: 65vh;
    }
    .input:focus{
        width: 69vh;
        font-size: 20px;
    }
    footer {
        background-image: linear-gradient(to left,#2b2d42,#2b2d42,#6b705c);
        color: $colorfoot;
        text-align: right;
        padding: 10px;
        .creditos{
            display: inline-block;
            margin: 5px;
        }
        a{
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #575050;
        }
    }


}